# Prerequisites
*.d
*.tlog
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.tmp
*.TMP

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.IPCH
*.vsidx

#certification files
*.pem
*.key
*.log
*.db
*.db-shm
*.db-wal
*.opendb
/src/client_backend/.vs
/src/client_backend/x64
/src/client_backend/client_backend
/src/client_frontend/.vs
/src/client_frontend/x64
/src/client_frontend/client_frontend
/src/ma_installer/.vs
/src/ma_installer/x64
/src/ma_installer/ma_installer
/src/ma_uninstaller/.vs
/src/ma_uninstaller/x64
/src/ma_uninstaller/ma_uninstaller
