# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.IPCH

#certification files
*.pem
*.key
*.vsidx
src/client_backend/.vs/client_backend/v17/ipch/AutoPCH/2281dd451529c04a/SCAN.ipch
*.ipch
